Flow1.txt
[
    {
        "id": "ef94a8bf.270598",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "f77ba0bf.0a1c1",
        "type": "rpi-gpio out",
        "z": "ef94a8bf.270598",
        "name": "LED",
        "pin": "7",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "626e196b.edfb68",
        "type": "debug",
        "z": "ef94a8bf.270598",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "bf5778bc.c5b348",
        "type": "switch",
        "z": "ef94a8bf.270598",
        "name": "choose",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "1d8aed6a.984373"
            ],
            [
                "d0bcd4d9.5e9f68"
            ]
        ]
    },
    {
        "id": "b1d9ad96.7baae",
        "type": "rpi-gpio in",
        "z": "ef94a8bf.270598",
        "name": "switch",
        "pin": "11",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "bf5778bc.c5b348"
            ]
        ]
    },
    {
        "id": "1d8aed6a.984373",
        "type": "change",
        "z": "ef94a8bf.270598",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "626e196b.edfb68",
                "f77ba0bf.0a1c1"
            ]
        ]
    },
    {
        "id": "d0bcd4d9.5e9f68",
        "type": "change",
        "z": "ef94a8bf.270598",
        "name": "change2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "626e196b.edfb68",
                "f77ba0bf.0a1c1"
            ]
        ]
    }
]
